<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <div id="app">
    <app-username
      v-bind:username="'Jane'"
      v-on:userclicked="userWasClicked($event)"
    ></app-username>
    <app-username v-bind:username="'Joe'"></app-username>
    <p v-bind:class="{updated: name !== 'Max' }">{{name}}</p>
    <p v-if="name !== 'Max'">Name updated!</p>
    <button v-on:click="changeName">Change Name</button>
    <button v-on:click="addElement">New Element</button>
    <ul>
      <li v-for="element in elements"
          v-bind:id="'el' + element"
          v-bind:style="{backgroundColor: getColor(element)}" >Element {{ element }}</li>
    </ul>
  </div>

  <div id="app2">
    <input type="text" v-model="message">
    {{ message }}
  </div>



  <script src="https://unpkg.com/vue"></script>
  <script src="main.js"></script>
</body>
</html>
