<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

  <div id="app">
    <p>{{name}}</p>
    <p v-if="name !== 'Max'">Name updated!</p>
    <button v-on:click="changeName">Change Name</button>
    <button v-on:click="addElement">New Element</button>
    <ul>
      <li v-for="el in elements">Element {{ el }}</li>
    </ul>
  </div>


  <script src="https://unpkg.com/vue"></script>
  <script src="main.js"></script>
</body>
</html>
