<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Practice</title>
</head>
<body>

  <!--
  1) Create a <div> and take control with a Vue Instance
  2) Output an array of hobbies in this <div> (provide some default hobbies)
  3) Add a 'New Hobby' button + <input> field where you add the hobby the user entered to the list
  4) Make the hobbies clickable to remove them once clicked
  5) Add a <p>Hobby deleted!</p> which is only shown once at least one hobby was deleted (be creative on how to track this!)
  6) Add a hobby counter (<p>Hobbies: ...</p>) above the list of hobbies
  7) Dynamically style/ add classes to the hobby counter, depending on whether you have more or less than 3 hobbies
  8) Outsource your hobbies (the <li> elements) into a re-usable component
-->

<div id="practice">
  <div id="hobbies">
    <ul>
      <li v-for="hobby in hobbies">
        {{ hobby }}
      </li>
    </ul>
    <form>
      <input name="add-hobby" type="text" v-model="newUserHobby">
      <button v-on:click="addHobby">Add hobby</button>
    </form>

  </div>
</div>


  <script src="https://unpkg.com/vue"></script>
  <script src="practice.js"></script>
</body>
</html>
